<!DOCTYPE html>
<html>
  <head>
    <title>OAPI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/superhero/bootstrap.css">
    <link rel="stylesheet" href="https://bootswatch.com/assets/css/bootswatch.min.css">
    <script src="https://api.23andme.com/res/js/ttam-0.3.js"></script>
    <meta name="description" content="OAPI - Offensive Application Programming Initative - Access Control" />
    <meta name="keywords" content="oapi, rbac, access control, open source" />
  </head>
  <body>

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">
            <span class="glyphicon glyphicon-asterisk"></span> OAPI:
            Offensive Application Programming Initiative
          </a>
        </div>
      </div>
    </div>

    <div class="container">
      {% block body %}
      {% endblock %}
    </div>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
